.text::before {
    content: 'Good Evening';
    color: red;
    background-color: yellow;
    margin-right: 15px;
}
/* .text::after {
    content: ' ';
    width: 2px;
    height: 30px;
    background-color: red;
    display: inline-block;
    margin-left: 30px;
} */
/* .text::after {
    content: '\0040';
} */
.text::after {
    content: url('../images/smiley.gif');
}


/* header styles */
.header-bg {
    background-image: url('../images/mohamed-ajufaan-GFcWwwGNu_w-unsplash.jpg');
    width: 100%;
    height: 324px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header-bg::before {
    content:  ' ';
    width:100%;
    height: 100%;
    background-color: #000000;
    display: block;
    opacity: 60%;
}
.navigation {
    position: absolute;
    top: 50px;
    left: 50px;
}
li a {
    color: #fff;
    position: relative;
}
ul {
    display: flex;
    width: 400px;
    justify-content: space-between;
}
a::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left:0;
    height: 1px;
    width:0%;
    background-color: red;
    transition: all 0.5s linear;
}
a:hover::after {
    width: 60%;
}


/* grid styles */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    grid-template-rows: repeat(4,150px);
    gap: 30px 25px;
}
.grid-item {
    background-color: cornflowerblue;
}
img {
    width: 100%;
}
.videi-youtube {
    max-width: 560px;
    width: 100%;
    height: 400px;
}

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(6,150px);
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(12,150px);
    }
}

/* fr
grid-template-columns: 1fr 1fr 1fr;
1fr + afr + 1fr = 3fr;
1fr = 1 / 3 * 100% = 33.33%



grid-template-columns: 1fr 1fr 2fr;
1fr = 1 / 4 * 100% = 25%
2fr = 2 / 4 * 100% = 50% */